@{
    ViewData["Title"] = "Anasayfa";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Ambar Yönetim Sistemine Hoş Geldiniz!</h1>
    <p class="lead">ASP.NET Core MVC ile yapılmış bir depo takip sistemi</p>
</div>

