@model IEnumerable<AmbarYonetimi.Models.BaslikDepo>

@{
    Layout = "_LayoutDepo";
}

<table class="min-w-full bg-white border border-gray-300 text-sm">
    <thead>
        <tr class="bg-gray-200 text-gray-700">
            <th class="py-2 px-4 border">Ürün Adı</th>
            <th class="py-2 px-4 border">Ürün Kodu</th>
            <th class="py-2 px-4 border">Raf Kodu</th>
            <th class="py-2 px-4 border">Giriş</th>
            <th class="py-2 px-4 border">Çıkış</th>
            <th class="py-2 px-4 border">İşlem Yapan</th>
        </tr>
    </thead>
</table>